/* Fluid design by Trys Mudford  
https://utopia.fyi
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************** Normalize ***************************/


/*************************** Styles ***************************/
:root {
    --primary-color: #621132;
    --light-color: #f2f2f2;
    --bone-color: #ffffcf;
    --dark-color: #111;
    --grey-color: #888;
    --red-color: #ff0000;
    --red-color-hover: #981712;
    --green-color: #0a2516;
    --green-color-hover: #193908;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Mukta";
    src: url(../fonts/Mukta-Regular.ttf);
}

h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1, h2 {
    font-family: "Mukta", "Tahoma";
}

label, p, span, input, select, button, a, th, td, caption {
    font-family: "Montserrat", "Tahoma";
}

html {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1400 - 300)));
}

/*************************** Header ***************************/
.primary-color {
    background-color: var(--primary-color);
}

/*************************** Login ***************************/
.form-login__error {
    visibility: hidden;
    font-family: "Montserrat";
    color: var(--red-color);
    margin-top: -1.8rem;
    margin-bottom: 2rem;
}

/*************************** Utility classes extra ***************************/

.box-shadow {/* Box shadow forms */
    box-shadow: 0px 0px 15px 0px var(--grey-color); /**X, Y, intencidad, rango de sombra, color**/
}

.border-1 {/* Border 1 px */
    border-width: 1px;
}

.border-b-1 {
    border-bottom: 1px solid var(--grey-color);
}

.bg-modal {
    background-color: rgba(1, 1, 1, 0.8);
}

/*

.form-login__submit {
    background-color: var(--primary-color);
}

*/

/*************************** Media queries ***************************/
@media screen and (min-width: 62rem) {

}

/*************************** Complements classes ***************************/
.is-visible {
    visibility: visible;
    
}

.is-hidden {
    visibility: hidden;
}

.is-display {
    transform: translateX(0);
}

.is-none {
    display: none;
}

.is-view {
    display:block;
}