/* Fluid design by Trys Mudford  
https://utopia.fyi
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************** Normalize ***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
  
body {
    margin: 0;
}
  
main {
    display: block;
}
  
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
  
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
  
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
a {
    background-color: transparent;
    text-decoration: none;
}
  
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
  
b,
strong {
    font-weight: bolder;
}
  
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
small {
    font-size: 80%;
}
  
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
sub {
    bottom: -0.25em;
}
  
sup {
    top: -0.5em;
}
  
img {
    border-style: none;
}
  
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
  
button,
input {
    overflow: visible;
}
  
button,
select { 
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
  
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
  
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
  
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}
  
textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
  
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
  
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
  
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
  
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
  
details {
    display: block;
}

summary {
    display: list-item;
}
  
template {
    display: none;
}
  
[hidden] {
    display: none;
}

/*************************** Styles ***************************/
:root {
    --primary-color: #621132;
    --light-color: #f2f2f2;
    --bone-color: #ffffcf;
    --dark-color: #111;
    --grey-color: #888;
    --red-color: #ff0000;
    --red-color-hover: #981712;
    --green-color: #0a2516;
    --green-color-hover: #193908;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Mukta";
    src: url(../fonts/Mukta-Regular.ttf);
}

h1, h2 {
    font-family: "Mukta", "Tahoma";
}

label, p, span, input, select, button, a, th, td {
    font-family: "Montserrat", "Tahoma";
}

html {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1400 - 300)));
}

/*************************** Header ***************************/
.primary-color {
    background-color: var(--primary-color);
}

/*************************** Login ***************************/
.form-login__error {
    visibility: hidden;
    font-family: "Montserrat";
    color: var(--red-color);
    margin-top: -1.8rem;
    margin-bottom: 2rem;
}

/*************************** Utility classes extra ***************************/

.box-shadow {/* Box shadow forms */
    box-shadow: 0px 0px 15px 0px var(--grey-color); /**X, Y, intencidad, rango de sombra, color**/
}

.border-1 {/* Border 1 px */
    border-width: 1px;
}

.border-b-1 {
    border-bottom: 1px solid var(--grey-color);
}

.bg-modal {
    background-color: rgba(1, 1, 1, 0.5);
}

/*

.form-login__submit {
    background-color: var(--primary-color);
}

*/

/*************************** Media queries ***************************/
@media screen and (min-width: 62rem) {

}

/*************************** Complements classes ***************************/
.is-visible {
    visibility: visible;
    
}

.is-hidden {
    visibility: hidden;
}

.is-display {
    transform: translateX(0);
}

.is-none {
    display: none;
}

.is-view {
    display:block;
}